* {
    padding: 0;
    margin: 0;
    font-family: " Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#fa8737 , #f6934c , #f69a59 , #ed8134);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.calculator{
    background-color: #603d21;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  -6px  -6px 15px   #0f0f0f;
}
.input{
    padding-bottom: 2vh;
}

.input input{
    padding: 20px;
    width: 100%;
    border:none;
    background-color:#603d21;
    color: white;
}
.input input::placeholder{
    font-size:  20px ;
    color: white;
    position: relative;
    top: 0%;

}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5vh;
    
}
button{
    background-color: orange;
    color: white;
    border: 1px solid white;
    border-radius: 25%;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;

}

button:hover{
    background-color: #f7ae61;
}
.equal {
    grid-column: span 2;
    border-radius:20px ;
}


@media (max-width : 430px) {
    .calculator{
        width: 90%;
        padding: 15px;
    }
    
    button {
        font-size: 15px;
} 

}