* {
    padding: 0;
    margin: 0;
    font-family: " Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#fa8737 , #f6934c , #f69a59 , #ed8134);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.calculator{
    background-color: #603d21;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  -6px  -6px 15px   #0f0f0f;
}
.input{
    padding-bottom: 2vh;
;
}


     
.input input{
    padding: 20px;
    width: 100%;
    border:none;
    border-radius: 10px;
    background-color:#e8934e;
    color: white;
    text-align: right;
    direction: ltr;
    outline: none;
}
.input input::placeholder{
    font-size:  20px ;
    color: white;
    position: relative;
    top: 0%;

}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5vh;
    
}
button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 25%;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;

}
button:active {
    transform: scale(0.98);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

button:hover{
    background-color: #f7ae61;
}



button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16),
button:nth-child(19){
    background-image: linear-gradient(145deg, #ff9f4a , #ff8c2e);
    font-size:28px ;
    font-weight: 300;
}


    
button:nth-child(4):hover , 
button:nth-child(8):hover ,
button:nth-child(12):hover , 
button:nth-child(16):hover{
    background-image: linear-gradient(155deg, #ffb570 , #ffa04d); 

}



button:nth-child(1),
button:nth-child(2),
button:nth-child(3)
{
    background: rgba(120, 90, 70, 0.6);
    font-weight: 400;
}
button:nth-child(1):hover,
button:nth-child(2):hover,
button:nth-child(3):hover{
    background: rgba(120, 90, 70, 0.6);

}




button:nth-child(19) {
    grid-column: span 2;
    border-radius:20px ;
}


@media (max-width : 430px) {
    .calculator{
        width: 90%;
        padding: 15px;
    }
    
    button {
        font-size: 15px;
} 

}